/* Styles related with Log-in */
html, body {
    font-family: 'Source Sans Pro', sans-serif;
    height: 100%;
    width: 100%;
    margin: 0;
}

.logoSmartSito{
  padding-top: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
}


.buttonsDiv{
    display: flex;
    align-items: center;
    justify-content: center;
}

.ButtonDiv{
  padding: 5%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-light{
  min-width: 15%;
  background-color: #86cc2b;
  color: black;
}
