/* Styles related with Log-in */
html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    font-size: 1rem !important;
    color: black !important;
    overflow: hidden;
}

header.masthead {
  position: relative;
  background-color: #343a40;
  background: url("../images/bg-masthead.jpg") no-repeat center center;
  background-size: cover;
  padding-top: 8rem;
  padding-bottom: 8rem;
}

.sticky-offset {
    top: 10%;
}

.link2 {
  color: #918F90 !important;
  text-decoration: none;
  background-color: transparent;
  box-sizing: border-box;
  text-align: -webkit-match-parent;
  list-style: none;
  font-size: 1rem !important;
  font-family: Lato,'Helvetica Neue',Helvetica,Arial,sans-serif;

}


.call-to-action {
  position: relative;
  background-color: #343a40;
  background: url("../images/bg-masthead.jpg") no-repeat center center;
  background-size: cover;
  padding-top: 7rem;
  padding-bottom: 7rem;
}

.logoSmartSito{
  padding-top: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
}


.buttonsDiv{
    display: flex;
    align-items: center;
    justify-content: center;
}

.ButtonDiv{
  padding: 5%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-light{
  min-width: 15%;
  background-color: #86cc2b;
  color: black;
}

.text-primary {
  color: #86cc2b !important;
}

#wrapper #content-wrapper #content {
  padding: 1.5rem;
}


.btn-primary {
  background-color: #86cc2b !important;
  color: white !important;
  border: 0px;
}

.bg-gradient-primary{
  background-color: white !important;
  background-image: linear-gradient(180deg, white 10%, white 100%) !important;
  background-size: cover !important;
}

.sidebar-dark .nav-item .nav-link{
  color: #918F90;
}

.nav-item:hover{
  background-color: #86cc2b;
  color: white;
}

.sidebar-dark .nav-item .nav-link[data-toggle=collapse]::after{
  color: #86cc2b;
}

.sidebar-dark .sidebar-heading{
  color: #918F90;
}

.sidebar-dark .nav-item.active .nav-link{
  color: #918F90;
}

.sidebar-dark .sidebar-brand{
  color: black;
}

.mb-4, .my-4{
  margin-bottom: 1.5rem!important;
}

.sidebar-dark hr.sidebar-divider{
  border-top: 1px solid #333;
}

.page-item.active .page-link{
  background-color: #86cc2b;
  color: black;
}

#contentDiv{
  width: 100%;
  background-color: white;
  padding: 5%;
}

#RetailerStore_wrapper, #SavingsConsumer_wrapper{
  width: 100%;
}

.bg-primary {
    background-color: #86cc2b !important;
}

.iconSide{
  float: right;
  color: #ff8200 !important;
}

.text-orange-300 {
    color: #ff8200 !important;
}

.scroll {
    max-height: 650px;
    overflow-y: auto;
}
