{% extends "base.html" %}

{% block app_content %}

<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
  <h1 class="h3 mb-0 text-gray-800"> Savings </h1>
</div>

<div class="row" id='contentDiv'>
  <table  id='RetailerStore' class="table table-hover" >
    <thead>
      <th>Product</th>
      <th>Savings (CAD)</th>
    </thead>

    <tbody>
      <tr>
        <td>Milk</td>
        <td> 22 </td>
      </tr>



      <tr>
        <td>Eggs</td>
        <td>4</td>
      </tr>

      <tr>
        <td>Yogurt</td>
        <td> 2 </td>
      </tr>

      <tr>
        <td>Red beans</td>
        <td> 7 </td>
      </tr>

      <tr>
        <td>Cheese</td>
        <td> 8 </td>
      </tr>

      <tr>
        <td>Ham</td>
        <td> 17 </td>
      </tr>

      <tr>
        <td>Tomatos</td>
        <td> 11 </td>
      </tr>

    </tbody>

  </table>



</div>


{% endblock %}
