{% extends "base.html" %}

{% block app_content %}

<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
  <h1 class="h3 mb-0 text-gray-800"> Savings </h1>
</div>

<div class="col-xl-12 col-lg-7" >
  <div class="card shadow mb-4" >
    <!-- Card Header - Dropdown -->
    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
      <h6 class="m-0 font-weight-bold text-primary">Savings by product</h6>
    </div>
    <!-- Card Body -->
    <div class="card-body">

      <div class="chart-area" id="bargraph">
        <!--<canvas id="myAreaChart"></canvas>-->
        <!--<img src="{{ url_for('static', filename='images/Figure1.png') }}" style="height: 100%; width: 100%; align: center;">-->
        <script>
          var graphs = {{plot | safe}};
          Plotly.plot('bargraph',graphs,{});
        </script>

      </div>
    </div>
  </div>
</div>

<!--<div class="row" id='contentDiv'>
  <table  id='SavingsConsumer' class="table table-hover" >
    <thead>
      <th>Product</th>
      <th>Savings (CAD)</th>
    </thead>

    <tbody>
      <tr>
        <td>Milk</td>
        <td> 22 </td>
      </tr>



      <tr>
        <td>Eggs</td>
        <td>4</td>
      </tr>

      <tr>
        <td>Yogurt</td>
        <td> 2 </td>
      </tr>

      <tr>
        <td>Red beans</td>
        <td> 7 </td>
      </tr>

      <tr>
        <td>Cheese</td>
        <td> 8 </td>
      </tr>

      <tr>
        <td>Ham</td>
        <td> 17 </td>
      </tr>

      <tr>
        <td>Tomatos</td>
        <td> 11 </td>
      </tr>

    </tbody>

    <tfoot>
      <tr>
        <th style="text-align:center">Total:</th>
        <th>71</th>
      </tr>
    </tfoot>

  </table>



</div>-->


{% endblock %}
