{% extends "base.html" %}

{% block app_content %}

<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
  <h1 class="h3 mb-0 text-gray-800"> Fridge Products </h1>
</div>

<div class="col-xl-3 col-lg-7">
  <div class="card shadow mb-4" style="width: 18rem;">
    <img class="card-img-top" src="{{ url_for('static', filename='images/milky.jpg') }}" alt="milk" width="286" height="180">
    <div class="card-body bg-gradient-warning text-white">
      <h5 class="card-title"> Milk </h5>
      <p class="card-text"> Expiring soon <br> Expiring on June 1, 2020</p>
    </div>
  </div>
</div>

<div class="col-xl-3 col-lg-7">
  <div class="card shadow mb-4" style="width: 18rem;">
    <img class="card-img-top" src="{{ url_for('static', filename='images/redbeans.jpg') }}" alt="redbeans" width="286" height="180">
    <div class="card-body bg-gradient-success text-white">
      <h5 class="card-title"> Red Beans </h5>
      <p class="card-text"> Good to eat <br> Expiring on April 30, 2021</p>
    </div>
  </div>
</div>

<div class="col-xl-3 col-lg-7">
  <div class="card shadow mb-" style="width: 18rem;">
    <img class="card-img-top" src="{{ url_for('static', filename='images/coffee.jpg') }}" alt="coffee" width="286" height="180">
    <div class="card-body  bg-gradient-danger text-white">
      <h5 class="card-title"> Coffee </h5>
      <p class="card-text"> Expired <br> April 30, 2020</p>
    </div>
  </div>
</div>

<div class="col-xl-3 col-lg-7">
  <div class="card shadow mb-4" style="width: 18rem;">
    <img class="card-img-top" src="{{ url_for('static', filename='images/tomato.jpg') }}" alt="tomato" width="286" height="180">
    <div class="card-body bg-gradient-warning text-white">
      <h5 class="card-title"> Tomato </h5>
      <p class="card-text"> Expiring soon <br> June 5, 2020</p>
    </div>
  </div>
</div>

<div class="col-xl-3 col-lg-7">
  <div class="card shadow mb-4" style="width: 18rem;">
    <img class="card-img-top" src="{{ url_for('static', filename='images/eggs.jpg') }}" alt="eggs" width="286" height="180">
    <div class="card-body bg-gradient-danger text-white">
      <h5 class="card-title"> Eggs </h5>
      <p class="card-text"> Expired <br> May 20, 2020</p>
    </div>
  </div>
</div>

<div class="col-xl-3 col-lg-7">
  <div class="card shadow mb-4" style="width: 18rem;">
    <img class="card-img-top" src="{{ url_for('static', filename='images/kiwi.jpg') }}" alt="kiwi" width="286" height="180">
    <div class="card-body bg-gradient-success text-white">
      <h5 class="card-title"> Kiwi </h5>
      <p class="card-text"> Good to eat <br> June 10, 2020</p>
    </div>
  </div>
</div>

<div class="col-xl-3 col-lg-7">
  <div class="card shadow mb-4" style="width: 18rem;">
    <img class="card-img-top" src="{{ url_for('static', filename='images/carrot.jpg') }}" alt="carrot" width="286" height="180">
    <div class="card-body bg-gradient-warning text-white">
      <h5 class="card-title"> Carrot </h5>
      <p class="card-text"> Expiring soon <br> June 7, 2020</p>
    </div>
  </div>
</div>

<div class="col-xl-3 col-lg-7">
  <div class="card shadow mb-4" style="width: 18rem;">
    <img class="card-img-top" src="{{ url_for('static', filename='images/beef.jpg') }}" alt="beef" width="286" height="180">
    <div class="card-body bg-gradient-success text-white">
      <h5 class="card-title"> Beef </h5>
      <p class="card-text"> Good to eat <br> June 12, 2020</p>
    </div>
  </div>
</div>


<div class="col-xl-3 col-lg-7">
  <div class="card shadow mb-4" style="width: 18rem;">
    <img class="card-img-top" src="{{ url_for('static', filename='images/lettuce.jpg') }}" alt="lettuce" width="286" height="180">
    <div class="card-body bg-gradient-success text-white">
      <h5 class="card-title"> Lettuce </h5>
      <p class="card-text"> Good to eat <br> June 9, 2020</p>
    </div>
  </div>
</div>

<div class="col-xl-3 col-lg-7">
  <div class="card shadow mb-4" style="width: 18rem;">
    <img class="card-img-top" src="{{ url_for('static', filename='images/cheese.jpg') }}" alt="cheese" width="286" height="180">
    <div class="card-body bg-gradient-warning text-white">
      <h5 class="card-title"> Cheese </h5>
      <p class="card-text"> Expiring soon <br> June 8, 2020</p>
    </div>
  </div>
</div>

<div class="col-xl-3 col-lg-7">
  <div class="card shadow mb-4" style="width: 18rem;">
    <img class="card-img-top" src="{{ url_for('static', filename='images/chicken.jpg') }}" alt="chicken" width="286" height="180">
    <div class="card-body bg-gradient-success text-white">
      <h5 class="card-title"> Chicken </h5>
      <p class="card-text"> Good to eat <br> June 12, 2020</p>
    </div>
  </div>
</div>

<div class="col-xl-3 col-lg-7">
  <div class="card shadow mb-4" style="width: 18rem;">
    <img class="card-img-top" src="{{ url_for('static', filename='images/potatoes.jpg') }}" alt="potatoes" width="286" height="180">
    <div class="card-body bg-gradient-danger text-white">
      <h5 class="card-title"> Potatoes </h5>
      <p class="card-text"> Expired <br> May 10, 2020</p>
    </div>
  </div>
</div>




{% endblock %}
