{% extends "base.html" %}

{% block app_content %}

<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
  <h1 class="h3 mb-0 text-gray-800"> Rewards </h1>
</div>

<div class="col-xl-4 col-lg-7">
  <div class="card shadow mb-4" style="width: 18rem;">
    <img class="card-img-top" src="{{ url_for('static', filename='images/airmiles.png') }}" alt="Card image cap" width="250" height="250">
    <div class="card-body" style='background-color: #ff8200; color:white; text-align: center;'>
      <p class="card-text" > 20 points</p>
    </div>
  </div>
</div>

<div class="col-xl-4 col-lg-7">
  <div class="card shadow mb-4" style="width: 18rem;">
    <img class="card-img-top" src="{{ url_for('static', filename='images/optimum.jpg') }}" alt="Card image cap" width="250" height="250">
    <div class="card-body" style='background-color: #ff8200; color:white; text-align: center;'>
      <p class="card-text" > 30 points</p>
    </div>
  </div>
</div>

<div class="col-xl-4 col-lg-7">
  <div class="card shadow mb-4" style="width: 18rem;">
    <img class="card-img-top" src="{{ url_for('static', filename='images/metro.jpg') }}" alt="Card image cap" width="250" height="250">
    <div class="card-body" style='background-color: #ff8200; color:white; text-align: center;'>
      <p class="card-text" > 10 points</p>
    </div>
  </div>
</div>

<div class="col-xl-4 col-lg-7">
  <div class="card shadow mb-4" style="width: 18rem;">
    <img class="card-img-top" src="{{ url_for('static', filename='images/farmboy.png') }}" alt="Card image cap" width="250" height="250">
    <div class="card-body" style='background-color: #ff8200; color:white; text-align: center;'>
      <p class="card-text" > 25 points</p>
    </div>
  </div>
</div>

<div class="col-xl-4 col-lg-7">
  <div class="card shadow mb-4" style="width: 18rem;">
    <img class="card-img-top" src="{{ url_for('static', filename='images/costco.png') }}" alt="Card image cap" width="250" height="250">
    <div class="card-body" style='background-color: #ff8200; color:white; text-align: center;'>
      <p class="card-text" > 15 points</p>
    </div>
  </div>
</div>

<div class="col-xl-4 col-lg-7">
  <div class="card shadow mb-4" style="width: 18rem;">
    <img class="card-img-top" src="{{ url_for('static', filename='images/nofrills.png') }}" alt="Card image cap" width="250" height="250">
    <div class="card-body" style='background-color: #ff8200; color:white; text-align: center;'>
      <p class="card-text" > 35 points</p>
    </div>
  </div>
</div>


{% endblock %}
