{% extends "bootstrap/base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}


{% block styles %}
  {{ super() }}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}" />

{% endblock %}

{% block title %}
    Langs Recruit App
{% endblock %}

{% block body %}
  {{ super() }}

  <div class="wrapper"  style="height: 100%; width: 100%; ">
    <div class='logoSmartSito'>
      <img src="{{ url_for('static', filename='images/LogoSmartSito.png')}}" alt="">
    </div>
    <div class='buttonsDiv'>
      <div class='ButtonDiv'><a href="{{ url_for('ConsumerView') }}"><button type="button" id='btn_consumer' class="btn btn-light">Consumer</button></a></div>
      <div class='ButtonDiv'><a href="{{ url_for('RetailerView') }}"><button type="button" id='btn_retailer' class="btn btn-light">Retailer</button></a></div>
    </div>
  </div>

{% endblock %}
