{% extends "base.html" %}

{% block app_content %}

<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
  <h1 class="h3 mb-0 text-gray-800"> Predictions for next months </h1>
</div>

<div class="col-xl-6 col-lg-7" >
  <div class="card shadow mb-4" >
    <!-- Card Header - Dropdown -->
    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
      <h6 class="m-0 font-weight-bold text-primary">Prediction of Food Product Demand (CAD)</h6>
       <!--<div class="dropdown no-arrow">
        <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
        </a>
        <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">
          <div class="dropdown-header">Dropdown Header:</div>
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </div>-->
    </div>
    <!-- Card Body -->
    <div class="card-body">

      <div class="chart-area" id="bargraph">
        <!--<canvas id="myAreaChart"></canvas>-->
        <!--<img src="{{ url_for('static', filename='images/Figure1.png') }}" style="height: 100%; width: 100%; align: center;">-->
        <script>
          var graphs = {{plot | safe}};
          Plotly.plot('bargraph',graphs,{});
        </script>

      </div>
    </div>
  </div>
</div>

<div class="col-xl-6 col-lg-7">
  <div class="card shadow mb-4">
    <!-- Card Header - Dropdown -->
    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
      <h6 class="m-0 font-weight-bold text-primary">Prediction of Food Product Demand (CAD)</h6>
      <div class="dropdown no-arrow">
        <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <!--<i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>-->
        </a>
        <!--<div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">
          <div class="dropdown-header">Dropdown Header:</div>
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>-->
      </div>
    </div>
    <!-- Card Body -->
    <div class="card-body" >
      <div class="chart-area scroll" id="bargraph">
        <table  id='RetailerStore' class="table table-hover" >
          <thead>
            <th></th>
            <th>Month</th>
            <th>Units</th>
            <th>Earnings (CAD)</th>
          </thead>

          <tbody>

              {% for key,value in dfPredicitons.iterrows() %}
                <tr>
                  <td style='color:white;'>01</td>
                  <td>{{ value.x }}</td>
                  <td> {{ value.units }} </td>
                  <td> {{ value.earnings }} </td>
                </tr>
              {% endfor %}


          </tbody>

          <tr>
            <th></th>
            <th style="text-align:center">Total:</th>
            <th style="text-align:center">{{ dfPredicitons.units.sum() }}</th>
            <th style="text-align:center"> {{ dfPredicitons.earnings.sum() }} </th>
          </tr>

        </table>

      </div>
    </div>
  </div>
</div>






{% endblock %}
