{% extends "base.html" %}

{% block app_content %}

<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
  <h1 class="h3 mb-0 text-gray-800"> Hot Products </h1>
</div>

<div class="col-xl-6 col-lg-7">
  <div class="card shadow mb-4">
    <!-- Card Header - Dropdown -->
    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
      <h6 class="m-0 font-weight-bold text-primary"> Units </h6>

    </div>
    <!-- Card Body -->
    <div class="card-body" >
      <div class="chart-area scroll" id="Plot01">
        <script>
          var graphs01 = {{plot01 | safe}};
          Plotly.plot('Plot01',graphs01,{});
        </script>

      </div>
    </div>
  </div>
</div>

<div class="col-xl-6 col-lg-7">
  <div class="card shadow mb-4">
    <!-- Card Header - Dropdown -->
    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
      <h6 class="m-0 font-weight-bold text-primary"> Earnings </h6>

    </div>
    <!-- Card Body -->
    <div class="card-body" >
      <div class="chart-area scroll" id="Plot02">
        <script>
          var graphs02 = {{plot02 | safe}};
          Plotly.plot('Plot02',graphs02,{});
        </script>

      </div>
    </div>
  </div>
</div>


<div class="col-xl-12 col-lg-7">
  <div class="card shadow mb-4">
    <!-- Card Header - Dropdown -->
    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
      <h6 class="m-0 font-weight-bold text-primary"> Hot Products Table </h6>

    </div>
    <!-- Card Body -->
    <div class="card-body" >
      <div class="chart-area scroll" id="bargraph">
        <table  id='RetailerStore' class="table table-hover" >
          <thead>
            <th>Product</th>
            <th>Units</th>
            <th>Earnings (CAD)</th>
          </thead>

          <tbody>

            {% for key,value in df_HotProducts.iterrows() %}
              <tr>
                <td> {{ value.Product }}</td>
                <td> {{ value.Units}} </td>
                <td> $ {{ value.Earnings }} </td>
              </tr>
            {% endfor %}

          </tbody>

          <tfoot>
            <tr>
              <th style="text-align:center">Total:</th>
              <th>{{ df_HotProducts.Units.sum() }}</th>
              <th>$ {{ df_HotProducts.Earnings.sum() }}</th>
            </tr>
          </tfoot>
        </table>

      </div>
    </div>
  </div>
</div>





{% endblock %}
