{% extends "base.html" %}

{% block app_content %}

<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
  <h1 class="h3 mb-0 text-gray-800"> SmartSito Consumers per Store </h1>
</div>

<!-- Content Row -->
<div class="row" id='contentDiv'>
  <table  id='RetailerStore' class="table table-hover" >
    <thead>
      <th>Store</th>
      <th>Food wasted</th>
      <th>Consumers</th>
    </thead>

    <tbody>
      <tr>
        <td>Costco</td>
        <td> 47% </td>
        <td> 200 </td>
      </tr>



      <tr>
        <td>Freshco</td>
        <td> 30% </td>
        <td>400</td>
      </tr>

      <tr>
        <td>Metro</td>
        <td> 52% </td>
        <td> 672 </td>
      </tr>

      <tr>
        <td>Food Basics</td>
        <td> 37% </td>
        <td> 987 </td>
      </tr>

      <tr>
        <td>Shopers</td>
        <td> 43% </td>
        <td> 87 </td>
      </tr>

      <tr>
        <td>Walmart</td>
        <td> 32% </td>
        <td> 176 </td>
      </tr>

    </tbody>
    <th colspan='2' style="text-align:center">Total:</th>
    <th style="text-align:center">2522</th>


  </table>



</div>


{% endblock %}
