{% extends "base.html" %}

{% block app_content %}

<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
  <h1 class="h3 mb-0 text-gray-800"> Hot Products </h1>
</div>

<div class="row" id='contentDiv'>
  <table  id='RetailerStore' class="table table-hover" >
    <thead>
      <th>Product</th>
      <th>Units</th>
      <th>Earnings (CAD)</th>
    </thead>

    <tbody>
      <tr>
        <td>Milk</td>
        <td> 470 </td>
        <td> 2210 </td>
      </tr>



      <tr>
        <td>Eggs</td>
        <td> 3000 </td>
        <td>4050</td>
      </tr>

      <tr>
        <td>Yogurt</td>
        <td> 5290 </td>
        <td> 6720 </td>
      </tr>

      <tr>
        <td>Almond Milk</td>
        <td> 370 </td>
        <td> 987 </td>
      </tr>

      <tr>
        <td>Cheese</td>
        <td> 413 </td>
        <td> 1817 </td>
      </tr>

      <tr>
        <td>Ice cream</td>
        <td> 3221 </td>
        <td> 1769 </td>
      </tr>

      <tr>
        <td>Sour cream</td>
        <td> 322 </td>
        <td> 1761 </td>
      </tr>

    </tbody>

  </table>



</div>


{% endblock %}
