{% extends "base.html" %}

{% block app_content %}

<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
  <h1 class="h3 mb-0 text-gray-800"> SmartSito Consumers per Store </h1>
</div>

<div class="col-xl-6 col-lg-7">
  <div class="card shadow mb-4">
    <!-- Card Header - Dropdown -->
    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
      <h6 class="m-0 font-weight-bold text-primary">SmartSito consumers per Store</h6>

    </div>
    <!-- Card Body -->
    <div class="card-body" >
      <div class="chart-area scroll" id="bargraph">
        <script>
          var graphs = {{plot | safe}};
          Plotly.plot('bargraph',graphs,{});
        </script>

      </div>
    </div>
  </div>
</div>

<div class="col-xl-6 col-lg-7">
  <div class="card shadow mb-4">
    <!-- Card Header - Dropdown -->
    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
      <h6 class="m-0 font-weight-bold text-primary">SmartSito consumers per Store</h6>

    </div>
    <!-- Card Body -->
    <div class="card-body" >
      <div class="chart-area scroll" id="bargraph">
        <table  id='RetailerStore' class="table table-hover" >
          <thead>
            <th>Store</th>
            <th>Food wasted</th>
            <th>Consumers</th>
          </thead>

          <tbody>
            {% for key,value in df_stores.iterrows() %}
              <tr>
                <td> {{ value.Store }}</td>
                <td> {{ value['Food Wasted']}} </td>
                <td> {{ value.Consumers }} </td>
              </tr>
            {% endfor %}

          </tbody>
          <th colspan='2' style="text-align:center">Total:</th>
          <th > {{ df_stores.Consumers.sum() }} </th>


        </table>

      </div>
    </div>
  </div>
</div>





{% endblock %}
